#include <systemc>
#include <uvm>
#include "verilated.h"
#include "Vwrap_{{dut.name}}.h"

#include "env.hpp"

int sc_main(int argc, char **argv) {
  Verilated::commandArgs(argc, argv);

  uvm::uvm_config_db<int>::set(NULL, "*", "recording_detail", uvm::UVM_LOW);
  uvm::uvm_set_verbosity_level(uvm::UVM_HIGH);


  env<Vwrap_{{dut.name}}> *my_env = new env<Vwrap_{{dut.name}}>("env", "{{dut.name}}", "trace.vcd");

  my_env->set_report_verbosity_level(UVM_HIGH);

  uvm_default_printer->knobs.reference = 0;

  uvm::uvm_root::get()->print_topology();

  uvm::run_test();

  delete my_env;

  return 0;
}
